.turnToBlackPlayer {
  transform: translateZ(0px) rotate(180deg);
}
.turnToWhitePlayer {
  transform: rotate(0deg);
}
.board {
  border: none;
  margin: auto;
  margin-top: 10vmin;
  display: grid;
  width: 80vmin;
  height: 80vmin;
  grid-template-rows:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.board div {
  font-size: 3vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  background: #5f939b !important;
}
.check {
  background: #f55d3e !important;
}
.valid {
  width: 90%;
  height: 90%;
  background: #28c958d2;
  border-radius: 100%;
}
span {
  font-size: 2em;
}

.black-tile {
  background: #a15e49;
  border: none;
  z-index: 2;
}
.white-tile {
  background: #ca895f;
  border: none;
  z-index: 2;
}
.white {
  color: white;
}
.black {
  color: black;
}
.figures {
  width: 80%;
  height: 80%;
  line-height: 3em;
}
