.moveHistoryDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
  background: grey;
}
.undoProposal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hourglass {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
}
.Dashboard {
  padding-top: 3%;
  width: 90vmin;
  height: 25vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.controlElements {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}
@media only screen and (min-width: 410px) {
  .Dashboard {
    padding-top: 1%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
  }
  .controlElements {
    display: flex;
    flex-direction: row;
    padding-left: 0em;
    padding-top: 1%;
    justify-content: space-around;
  }
}
@media only screen and (orientation: landscape) {
  .Dashboard {
    height: 90vmin;
    display: grid;
    flex-grow: 2;
    grid-template-rows: auto auto;
  }
  .controlElements {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.moveHistoryDisplay > span {
  font-size: 0.8em;
}
.moveHistoryDisplay > span > span {
  font-size: 1em;
}
