.moveHistoryDisplay {
  width: 90vmin;
  margin: auto;
  overflow: scroll;
  background: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.moveHistoryDisplay > span {
  font-size: 0.8em;
}
.controlElements {
  align-self: flex-end;
}
.moveHistoryDisplay > span > span {
  font-size: 1em;
}
